*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Logo{
    font-size: 30px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: rgb(44, 34, 66);
    color: white;
    z-index: 1;
}
.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;

}
.home,
.Bvaccine,
.Wvaccine,
.Hospital,
.Htips,
.Contact{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 6px;
    cursor: pointer;
}
.home:hover{
    border: 1px solid yellow;
    border-radius: 5px;
}
.Bvaccine:hover{
    border: 1px solid yellow;
    border-radius: 5px;
}
.Wvaccine:hover{
    border: 1px solid yellow;
    border-radius: 5px;
}
.Hospital:hover{
    
        border: 1px solid yellow;
        border-radius: 5px;
    }

.Htips:hover{
    
        border: 1px solid yellow;
        border-radius: 5px;
    }
.Contact:hover{
    border: 1px solid yellow;
    border-radius: 5px;
}

.mobile-menu-icon{
    display: none;
}

@media screen and (max-width: 1350px){
    .logo {
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }
    .nav-links{
        display: none;
    }
    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: rgb(71, 41, 136);
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }
    .home,
    .Bvaccine,
    .Wvaccine,
    .Hospital,
    .Htips,
    .Contact{
        color: white;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }
    .Contact:hover, .Hospital:hover,.Htips:hover,.Wvaccine:hover,.Bvaccine:hover,.home:hover{
        border: none;
    }
    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background-color: rgb(41, 23, 82);
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }
 
    


}