*{
    margin: 0;
    padding: 0;
}
.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./Photos/4.jpg);
    background-size: cover;
  }
.title{
    font-size: 70px;
    color: whitesmoke;
    text-align: left;
    font-weight: 500;
    padding-top: 50px;
}
.slogan{
    padding-top: 20px;
    font-size: 23px;
    color: white;
    text-align: center;
}
.takeinfo .title2{
    color: green;
    text-align: center;
    padding: 20px;
    font-weight: 600;
}
.takeinfo{
    margin-top: 100px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.form{
    padding: 0px 200px 40px 200px;
}
.form-control{
    margin-bottom: 10px;
}
.hilite{
    font-size: 25px;
    color: green;

}